<!-- templates/fragments/fragment-entete.html -->

<html xmlns:th="http://www.thymeleaf.org">

  <header th:fragment="entete">
    <div class="entete-container">
      <h1><a href="/" class="logo">ENI-Enchères</a></h1>
      <nav class="entete-nav">    
    <span th:if="${session.utilisateurConnecte != null}">
  Bonjour <strong th:text="${session.utilisateurConnecte.pseudo}">Utilisateur</strong>
  <a th:href="@{/profil}">Profil</a>
  <a th:href="@{/deconnexion}">Déconnexion</a>
</span>
<span th:if="${session.utilisateurConnecte == null}">
  <a th:href="@{/connexion}">Se connecter</a>
  <a th:href="@{/creer-compte}">S'inscrire</a> 
</span>
      </nav>
    </div>
  </header>

