<!-- templates/fragments/fragment-entete.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <header th:fragment="entete">
    <div class="entete-container">
      <h1><a href="/" class="logo">ENI-Enchères</a></h1>
      <nav class="entete-nav">    
      
        <span th:if="${user != null}">Bonjour<strong th:text="${user}">Utilisateur</strong>
          <a th:href="@{/deconnexion}">Déconnexion</a>

        </span>
        <span th:if="${user == null}">
          <a th:href="@{/creer-compte}">S'inscrire</a> - <a th:href="@{/connexion}">Se connecter</a></span>
      </nav>
    </div>
  </header>
</body>
</html>
