<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/fragment-head :: head('Connexion - ENI-Enchères')}"></head>
 <!-- <body th:classappend="${utilisateur.main} ? 'droitier' : 'gaucher'"> --> 
 <body>
  <div class="container terminee">
    <h1 class="titre">Détail vente</h1>

    <div class="article">
      <div class="image"></div>

      <div class="infos">
        <p><strong>Article :</strong> <span th:text="${article.nomArticle}"></span></p>
        <p><strong>Description :</strong></p>
        <p th:text="${article.description}"></p>
        <p><strong>Catégorie :</strong> <span th:text="${article.categorie.libelle}"></span></p>
        <p><strong>Date fin enchère :</strong> <span th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
        <p><strong>Mise à prix :</strong> <span th:text="${article.miseAPrix}"></span></p>
        <p><strong>Meilleure offre :</strong> <span th:text="${article.prixActuel}"></span></p>
        <p><strong>Dernier enchérisseur :</strong> <span th:text="${article.dernierEncherisseur}"></span></p>
        <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>

        <p>
          <strong>Retrait :</strong> 
          <span th:text="${article.utilisateur.rue + ', ' + article.utilisateur.codePostal + ' ' + article.utilisateur.ville}"></span>
        </p>

        <!-- Formulaire d'enchère -->
        <form th:action="@{/encheres/detail/proposerEnchere}" method="post">
          <input type="hidden" name="idArticle" th:value="${article.idArticle}" />
		
		<br>
		
      <label for="montantEnchere"><strong>Ma proposition :</strong></label>
		<input type="number" name="montantEnchere" id="montantEnchere"
       th:min="${article.prixActuel + 1}" step="1"
       th:value="${article.prixActuel + 1}" required />
      

          <button type="submit">Enchérir</button>
        </form>
        <!-- Fin du formulaire -->

      </div>
    </div>

  
  </div>
</body>
</html>

