<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/fragment-head :: head('Connexion - ENI-Enchères')}"></head>
  <body >

  <div class="container">
    <h1>Connexion</h1>
    
    <div th:if="${param.error}">
  	<p style="color:red;">Identifiant ou mot de passe invalide.</p>
	</div>
    

    <form th:action="@{/connexion}" method="post">

      <div class="form-group">
        <label for="identifiant">Identifiant :</label>
        <input type="text" id="identifiant" name="identifiant" required />
      </div>

      <div class="form-group">
        <label for="motDePasse">Mot de passe :</label>
        <input type="password" id="motDePasse" name="password" required />
      </div>

      <button type="submit">Connexion</button>
    </form>

    <p class="inscription">
      Pas encore de compte ?
      <a th:href="@{/creer-compte}">Créer un compte</a>

    </p>
  </div>
</body>
</html>
