<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/fragment-head :: head('Connexion - ENI-Enchères')}"></head>
  <body th:classappend="${utilisateur.main} ? 'droitier' : 'gaucher'">
<body >

  <div class="container">

    <h1>Modifier son profil</h1>



    <form th:action="@{/creer-compte}" th:object="${utilisateurFormDto}" method="post">



      <div class="form-group">
        <label for="pseudo">Pseudo :</label>
        <input type="text" id="pseudo" th:field="*{pseudo}" autocomplete="on" required />
      </div>

      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" th:field="*{nom}" required />
      </div>

      <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" th:field="*{prenom}" required />
      </div>

      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" th:field="*{email}" required />
      </div>

      <div class="form-group">
        <label for="telephone">Téléphone :</label>
        <input type="tel" id="telephone" th:field="*{telephone}" />
      </div>

      <div class="form-group">
        <label for="rue">Rue :</label>
        <input type="text" id="rue" th:field="*{rue}" />
      </div>

      <div class="form-group">
        <label for="codePostal">Code postal :</label>
        <input type="text" id="codePostal" th:field="*{codePostal}" />
      </div>

      <div class="form-group">
        <label for="ville">Ville :</label>
        <input type="text" id="ville" th:field="*{ville}" />
      </div>   	  

		<div class="form-group" style="position: relative;">
  <label for="motDePasse">Mot de passe :</label>
  <input type="password" id="motDePasse" th:field="*{motDePasse}" required />
  <button type="button" onclick="togglePassword('motDePasse')" 
          style="position: absolute; right: 10px; top: 32px; background: none; border: none; cursor: pointer;">
    👁️
  </button>
</div>


      <div class="form-group" style="position: relative;">
  <label for="confirmation">Confirmation :</label>
  <input type="password" id="confirmation" th:field="*{confirmation}" />
  <button type="button" onclick="togglePassword('confirmation')" 
          style="position: absolute; right: 10px; top: 32px; background: none; border: none; cursor: pointer;">
    👁️
  </button>
</div>

      <div class="form-group">
	  <label for="main">Main dominante :</label>
	  <select id="main" th:field="*{main}" required>
	    <option value="">-- Sélectionnez --</option>
	    <option value="true">Droitier</option>
		<option value="false">Gaucher</option>

	  </select>
	  </div>

      <div class="buttons">     
      <button type="submit">Créer mon compte</button>   
        <button type="reset">Annuler</button>
        
      </div>        
      
    </form>
  </div>
  
  <script src="/js/motdepasse.js"></script>
  
</body>
</html>

 